<nav class="nav">
        <img src="../../assets/Frame 10.png" class="img" alt="...">
    <a class="nav-link" routerLink="/home" >Our Academy</a>
    <a class="nav-link" routerLink="/ambassadors">Ambassadors</a>
    <a class="nav-link" routerLink="/facilities">Facilities</a>
    <a class="nav-link" routerLink="/mission">Mission</a>
    <a class="nav-link"  routerLink="/patners">Patnership</a>
    <a class="nav-link" routerLink="/advisors">Patrons&Advisors</a>
    <a class="nav-link"  routerLink="/contact">Contact US</a>
   
  </nav>