<div class="footer">

    <div class="page-header section-dark" style="background-image: url('assets/court.jpg');">

    </div>
    <div class="row bg-text">
        <div class="col ">
            <div class="row">
                <div class="col d-flex">
                    <ul class="style-remove">
                        <li>
                            <h2 style="color:#0c65ff;">Quick Links</h2>
                        </li>
                        <li><a class="nav-link" href="#">About US</a></li>
                        <li><a class="nav-link" href="#">Contact Us </a></li>
                        <li><a class="nav-link" href="#">Careers</a></li>
                    </ul>
                    <ul class="style-remove mt-5">
                        <li></li>
                        <li><a class="nav-link" href="#">Terms & Condition</a></li>
                        <li><a class="nav-link" href="#">Disclaime </a></li>
                        <li><a class="nav-link" href="#">FaQ</a></li>
                    </ul>

                </div>
                <div class="col">
                    <h2 style="color:#0c65ff;">Get In Touch</h2>
                    <p class="text-white">
                        Subscribe to us and be the first to know about
                    </p>
                    <p class="text-white">
                        our new event,courses & much more.
                    </p>

                </div>
            </div>






        </div>

        <div class="col">
            <div class="row">
                <div class="col-2">
                    <img src="../../assets/Frame 10.png" class="logo" alt="...">
                </div>
                <div class="col">
                    <h2 style="color:#0c65ff;">WON ACADEMY</h2>

                    <p class="text-white">An academy focused athletics,games and </p>
                    <p class="text-white"> academic ability with world class infrastructure, </p>
                    <p class="text-white"> professional coaches,best training teacher and </p>
                    <p class="text-white"> sports clinics. </p>



                </div>
            </div>





        </div>
    </div>
</div>