<div class="container">
  <div class="row">
    <div class="col">
      <h1>About Us</h1>
      <p>
        The WON Multi-sport Academy is a world class
        project intended to nurture and support the younger generation with their passion in sports.
        Our aim is to facilitate international training for kids in various type of sports and to bring out the best of
        their latent talent inherent in them. They are provided with an atmosphere of innovativeness, competitiveness,
        and intellectual independence that helps to shape them to achieve greater heights in their professional lives.
        This will be a unique and first of its kind Academy in India.</p>
        <p> We are the pioneers in this field.Our academy will consist of  facilities to school children from an early age. We will have full fledge schools for all age groups,
        additionally we will have graduation and post graduation courses to help the candidate to utilize their full
        potential. </p>
        <p>>We also have sport research center, premium hotels and state of the art hospital facilities. Promo Video about our Academy
        The academy is a hub where eminent personalities in the international sports arena, will congregate and they
        will act as the driving force for sports enthusiasts, who come here to train and lea
        rn under them. This will be the first time in India that an academy will be functioning in the presence world
        renowned legends. The icon we intend to discuss and invite as partners and ambassadors are Lionel Messi,
        Cristiano Ronaldo, Novak Djokovic, Kapil Dev, Ernie Els etc. The WON Multi-sport
        academy focuses on strengthening the grass roots and enrich the talent pool of the country. Our academy will be
        the best elite sports centers in the country where raw talents are identified and inculcated with exceptional
        qualities</p>
      
    </div>
    <div class="col">
      <div class="blue1">
      </div>
      <img class="pic" src="../../assets/leah-hetteberg-Q-Qd44h6DZU-unsplash (1).jpg" alt="">
      <div class="blue">
        <div class="more">
          <h4 style="color: #ffffff;">Promo Video about our Academy</h4>
          <button type="button" class="btn btn-primary">More</button>
        </div>

      </div>
    </div>
  </div>