<div class="container">

    <div class="row">
        <div class="col-sm">
            <div class="page-header section-dark" style="background-image: url('assets/rehab.jpg')">


            </div>
            <div class="bg-text">


                <h3 class="text-center" style="color: white;   margin-bottom: 0px;">
                    Sports Rehabilation</h3><br>
                <p style="color: white; font-size: 20px;">A futuristic facility with <br> the latest rehabilation
                    &<br>conditioning technology
                    <br>& method
                </p>

            </div>
        </div>
        <div class="col-sm">
            <div class="page-header section-dark" style="background-image: url('assets/academy.jpg')">




            </div>
            <div class="bg-text">
            <h3 class="text-center" style="color: white;   margin-bottom: 0px;">
                Sports Academy</h3><br>
            <p style="color: white; font-size: 20px;">A sports academy with <br>the best academic<br>
                courses for all students</p>
            </div>

        </div>
        <div class="col-sm">
            <div class="page-header section-dark" style="background-image: url('assets/elite.jpg')">
                

            </div>
            <div class="bg-text">
                        <h3 class="text-center" style="color: white;   margin-bottom: 0px;">
                            Elite Patnership</h3><br>
                        <p style="color: white; font-size: 20px;">The Gratest name in world<br>
                            sports coming together in<br>one academy</p>
                        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="page-header section-dark" style="background-image: url('assets/olympic.jpg')">
                
            </div>
            <div class="bg-text">
                        <h3 class="text-center" style="color: white;  margin-bottom: 0px;">
                            Professional Shorts/Olympic Hosting</h3><br>
                        <p style="color: white; font-size: 20px;">A 5* accredited facility<br>
                            for hosting the biggest <br>club & individuals</p>
                        </div>
        </div>
        <div class="col-sm">
            <div class="page-header section-dark" style="background-image: url('assets/research.jpg')">
                
            </div>
            <div class="bg-text">
                        <h3 class="text-center" style="color: white;   margin-bottom: 0px;">
                            Research Center</h3><br>
                        <p style="color: white; font-size: 20px;">Focused on the next big <br>
                            technologies & method</p>
            </div>
                  
        </div>
        <div class="col-sm">
            <div class="page-header section-dark" style="color: white">
                <div class="filter"></div>
                <div class="content-center">
                    <div class="container">

                        <h3 class="text-center" style="color: #000000; font-size: 40px;  margin-bottom: 0px;">
                            Why Choose Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>