<div class="book">
<div class="page-header section-dark" style="background-image: url('assets/julian-schiemann-Z4Sxy1_3wdY-unsplash.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">

            <h1 class="text-center" style="color: #000000; font-size: 50px;  margin-bottom: 0px;">
                WONDER OF NATIONAL SPORTS ACADEMY</h1>
            <h2 class="presentation-subtitle text-center">Shaping The Future Of Nation</h2>
            <button type="button" class="btn book-btn">Book Your Seat Now</button>
        </div>
    </div>
</div>
</div>