<div class="row">
    <div class="col background-color ">

        <h1 style="color: #ffffff; font-size: 50px;  margin-bottom: 0px">World Of Nation<br>
            Sports Academy</h1>
        <br>
        <h4 style="color: #ffffff;">International Sports Academy In India</h4><br>
        <div class="buttn">
            <button type="button" class="btn btn-light">Explore</button></div>
    </div>
    
    <div class="col">
        <img src="../../assets/kuan-fang-WaQ5xQq2E6g-unsplash.jpg">
    </div>
</div>
<ng-container>
    <app-about></app-about>
    <app-grid></app-grid>
    <app-book></app-book>
</ng-container>